# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\BTH\DVGHI\SecondYear\SecondTerm\PA1546 Individuellt mjukvaruutvecklingsprojekt\ProgressBar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
